### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

movies_filter = movies[['movieId','title']]
rating = ratings.groupby('movieId').mean()
tab = movies_filter.merge(rating, how='left', on='movieId')
def rating_f(tab):
    if tab['rating'] <= 2.0:
        return 'низкий рейтинг'
    if tab['rating'] > 4.0:
        return 'высокий рейтинг'
    if tab['rating'] <= 4.0:
        return 'средний рейтинг'
    else:
        return 'без рейтинга'
tab['class'] = tab.apply(rating_f, axis=1)
tab

,movieId,title,userId,rating,timestamp,class
0,1,Toy Story (1995),338.558704,3.872470,1.103116e+09,средний рейтинг
1,2,Jumanji (1995),318.906542,3.401869,1.069321e+09,средний рейтинг
2,3,Grumpier Old Men (1995),374.423729,3.161017,9.662429e+08,средний рейтинг
3,4,Waiting to Exhale (1995),355.538462,2.384615,9.277797e+08,средний рейтинг
4,5,Father of the Bride Part II (1995),320.785714,3.267857,9.967201e+08,средний рейтинг
...,...,...,...,...,...,...
9120,162672,Mohenjo Daro (2016),611.000000,3.000000,1.471524e+09,средний рейтинг
9121,163056,Shin Godzilla (2016),NaN,NaN,NaN,без рейтинга
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,547.000000,5.000000,1.476419e+09,высокий рейтинг
9123,164977,The Gay Desperado (1936),NaN,NaN,NaN,без рейтинга
9124,164979,"Women of '69, Unboxed",NaN,NaN,NaN,без рейтинга

### **Задание 2**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [3]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [4]:
def region_function(keywords):
    word = keywords['keyword']
    for reg, city in geo_data.items():
        if word in city:
            return reg
        if word not in city:
            return 'undefined'

keywords['region'] = keywords.apply(region_function, axis=1)
keywords.head()
# keywords['region'].unique()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

**Задание 3 (бонусное)**
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субъективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
  - для каждой строки пройдите по всем годам списка years
  - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга